body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    background: #88e7ce;
    color: #2b546a;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    height: 88px;
    background: #fff;
    padding: 24px 32px;
    box-sizing: border-box;
}

header img {
    width: 112px;
    margin-right: auto;
}

header span {
    display: inline-block;
    padding: 0 16px;
    background: rgb(48, 200, 214);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px 32px;
    background: url(code.gif) calc(100% - 32px) bottom no-repeat;
    background-size: 60vw auto;
    color: #fff;
}

h1 {
    margin: 0 0 10px;
    font-size: 50px;
}

h2 {
    margin: 0 0 auto;
    font-size: 32.5px;
}

h3 {
    margin: 7.5vh 0 10px;
    font-size: 25px;
}

p {
    max-width: calc(40vw - 100px);
    margin: 0 0 15px;
    font-size: 30px;
}